### Fish ###
**/fish/fishd.*
**/fish/fish_history
**/fish/fish_variables
**/fish/config.local.fish
**/fish/functions/*
!**/fish/functions/custom
**/fish/completions
**/fish/fish.bak
**/fish/themes
**/fish/conf.d/*
!**/fish/conf.d/alias.fish
!**/fish/conf.d/config.fish


### Neovim ###
**/nvim/lazyvim.json

### TMUX ###
**/tmux/plugins
