### Fish ###
**/fish/fishd.*
**/fish/fish_history
**/fish/fish_variables
**/fish/config.local.fish
**/fish/functions/*
**/fish/completions
**/fish/themes
!**/fish/functions/custom

### Neovim ###
**/nvim/lazyvim.json

### TMUX ###
**/tmux/plugins
