**/tmux/plugins
**/nvim/lazyvim.json

### Fish ###
**/fish/fishd.*
**/fish/fish_history
**/fish/fish_variables
**/fish/fish_plugins
**/fish/config.local.fish
**/fish/functions/*
!**/fish/functions/custom
